table {
	font-family: arial,sans-serif;
	font-size:14px;
	color:purple;
	border: solid 1px #666;
	border-collapse: collapse;
}
table th {
    border: solid 1px #025B85;
	padding: 10px;
	background-color: purple;
    color:white;
}
table td {
	padding: 10px;
    border: solid 1px #666;
	background-color: #ffffff;
}