@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(background.png) no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
}
.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content {
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 28%;
}

.content h1 {
	font-family: 'Yantramanav', sans-serif;
	font-size: 900%;
	font-weight: 150;
	color:#E1EFE9;
	line-height: 70%;
}

 .btn{
   font-family: 'Montserrat', sans-serif;
   font-size: 135%;
   font-weight: 400;
   color: #3A6168;
   text-transform: uppercase;
   text-decoration: none;
   border: solid #3A6168;
   padding: 10px 20px;
   border-radius: 50px;
   transition: all 0.5s;

   
}

.btn:hover {
   color:  #CBDFD6;
   border:solid #CBDFD6 2px;
}

/*--- Media Queries --*/
@media screen and (max-width: 900px) {
   .content{
   	padding-bottom: 30%;
   }
   .content h1{
   	font-size: 450%;
   }
   .btn {
   	font-size: 130%;
   	padding: 9px 17px;
   }
}
@media screen and (max-width: 768px) {
    .content{
   	padding-bottom: 40%;
   }
   .content h1{
   	font-size: 300%;
   }
   .btn {
   	font-size: 110%;
   	padding: 9px 15px;
   }
}
@media screen and (max-width: 480px) {
	.content{
   	padding-bottom: 50%;
   }
   .content h1{
   	font-size: 250%;
   }
   .btn {
   	font-size: 110%;
   	padding: 6px 14px;
   }
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 300px;

    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}


.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}

#link1 h3{
  color: white;
  text-align: center;
}
#link2 h3{
  color: white;
  text-align: center;
}
#link1 form{
  width: 300px;
  padding: 2%;
  box-sizing: border-box;
  display: none;
  position: absolute;
  background: #800080;
  margin-left: -100px;
  border-radius: 5px;
}

#link1 form table tr td{
  color: #fff;
  height: 30px;


}
#link2 form table tr td{
   color: #fff;
   height: 30px;
}

#link1 form table tr td input{
  width: 200px;
  height: 30px;
  outline: none;
  border:1px solid #400040;
  border-radius: 5px;
  padding-left: 3%;

}

#link2 form table tr td input{
   width: 200px;
   height: 30px;
   outline: none;
   border:1px solid #400040;
   border-radius: 5px;
   padding-left: 3%;

} 


#link2 form{
   width: 300px;
  padding: 2%;
  box-sizing: border-box;
  display: none;
  position: absolute;
  background: #800080;
  margin-right: -100px;
  border-radius: 5px;
}

#link1:hover form{
  display: inline-block;
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);

}


#link2:hover form{
  display: inline-block;
   -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);

}


#button input  {width: 35px;
  margin-top: 20px;
 outline: none;
 border:1px solid #fff;
 width: 50%;
 background: #800080;
color: #fff;
height: 35px;
border-radius: 5px;}


#button input:hover{
  color: orange;
  cursor: pointer;
}